 /*CSS variables */ 

 :root{
     --dark:#333;
     --primary:#ddd;
     --light:#fff;
     --shadow: 0 1px 5px rgba(104,104,104,0.8)
 }

 html{
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
     color: var(--dark);
 }

 body{
     background-color: #ccc;
     margin: 30px 50px;
     line-height: 1.2;
 }

.btn{
     background-color: var(--dark);
     color:var(--light);
     border: none;
     text-decoration: none;
     padding: .6rem 1.3rem;
 }

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    gap: 20px;
}

/* Navigation */

.main-nav ul{
    /* margin: 0; */
    padding: 0;
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}

.main-nav a{
    background-origin: var(--primary);
    color:var(--dark);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    font-size: 1.1rem;
    text-align: center;
    transition: .5s;
}

.main-nav a:hover{
    background-color:  var(--dark);
    color: var(--light);
}

.top-container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b'
    ;

}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url('imgs/web.jpg');
    background-position: center;
    background-size: cover;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.showcase h1{
    color:var(--light);
    font-size: 4rem;
    margin-bottom: 0;
}
.showcase p{
    color:var(--light);
    font-size: 1.3rem;
    margin-bottom: 0;
}
.top-box{
    background-color: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding:1.5rem
}
.top-box .price{
    font-size: 2.5rem;
}

.top-box-a{
    grid-area: top-box-a;
}
.top-box-b{
    grid-area: top-box-b;
}

/* Boxes */

.boxes{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.box{
    background-color: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */

.info{
    background-color: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
}

.portfolio{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

footer{
    background-color: var(--dark);
    text-align: center;
    padding: 1.5rem;
    color: var(--primary);
    font-size: 1.5rem;
}

@media(max-width:700px){
    .top-container{
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b'
        ;
    }
    .showcase h1{
        font-size: 2.5rem;
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .info{
        grid-template-columns: 1fr;
    }
    .info .btn{
        display: block;
        text-align: center;
    }
}

@media(max-width:500px){
    .top-container{
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b'
        ;
    }
}